body{
    background-image: url("../images/chrome-dark.png");
}

#titleJoe{
    border-width: 5px 7px 5px 7px;
    padding: 2px;
    margin: 0px;
}

#aboutCards{
    justify-content: center;
}

.btn:hover{
    transition: all 1s;
    transform: scale(1.09);
}

#about.card{
    align-content: center;
}

.jumbotron {
    opacity: 0.8;
    margin: 20px auto;
}

#jumboHead{
    margin: 0px;
    padding: 0px;

}

#glasses{
    width: 40%;
    height: auto;
    float: right;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.btn-card{
    justify-items: center;
    margin-bottom: 5px;
    padding: 3px;
}

#gitCard{
    margin: 20px auto;
}

#disclaimer{
    opacity: 0.8;
}